@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@font-face {
  font-family: idroid;
  src: url(fontes/idroid.otf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
header {
  background-image: linear-gradient(
    to bottom,
    rgb(60, 217, 131),
    rgb(25, 88, 53)
  );
  box-shadow: 0px 1px 7px #000000c4;
}
header h1 {
  text-align: center;
  padding: 30px 3px;
  font-size: 3.4em;
  font-family: "Bebas Neue";
  color: white;
  letter-spacing: 0.1em;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.418);
}
header p {
  text-align: center;
  padding: 0px 3px 30px;
  font-weight: normal;
  font-size: 1.8em;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.418);
}
header nav {
  display: flex;
  justify-content: center;
  cursor: pointer;
}
header nav a {
  display: block;
  margin: 5px 10px;
  text-decoration: none;
  color: white;
  font-size: 14px;
  padding: 7px;
  transition: 0.5s;
  cursor: pointer;
  background-size: 300% auto;
  border-radius: 10px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.418);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background-image: linear-gradient(
    to right,
    rgb(60, 217, 131) 0%,
    rgb(16, 136, 0) 51%,
    rgb(60, 217, 131) 100%
  );
}
header nav a:hover {
  background-position: right center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  margin-right: 40px;
}
main {
  background-color: white;
  margin: 0 auto;
  min-width: 375px;
  max-width: 800px;
  box-shadow: 0px 1px 10px #00000062;
  border-radius: 0px 0px 10px 10px;
}
body {
  background-color: rgb(132, 225, 173);
  min-width: 375px;
}
section {
  padding: 30px;
}
.titulo-1 {
  font-family: "idroid";
  color: rgb(19, 86, 50);
  font-size: 2.4em;
  margin-bottom: 15px;
  font-weight: normal;
}
main p {
  font-size: 1.6em;
  font-family: Arial, Helvetica, sans-serif;
  text-indent: 1.6em;
  text-align: justify;
  margin: 15px 0;
  line-height: 1.5;
}
.titulo-2 {
  font-family: "idroid";
  color: rgb(19, 86, 50);
  font-size: 2em;
  font-weight: normal;
  background-image: linear-gradient(
    to right,
    rgba(1, 161, 1, 0.26),
    rgba(255, 255, 255, 0)
  );
  margin: 15px 0;
}
.foto img {
  width: 100%;
  margin: 0 auto;
  display: block;
}
.foto.pequena img {
  max-width: 370px;
}
div {
  display: flex;
  justify-content: center;
  background-color: green;
}

aside {
  background-color: rgb(132, 225, 173);
  border-radius: 10px;
  margin-top: 15px;
  padding: 10px;
}
aside h1 {
  font-size: 1.8em;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(47, 168, 102);
  color: white;
  margin: -10px -10px 0px -10px;
  border-radius: 10px 10px 0 0;
  padding: 5px 15px;
}
aside p {
  margin: 15px;
}
ul {
  list-style-type: "✓  ";
  columns: 2;
  list-style-position: inside;
  margin: 15px;
  font-size: 1.2em;
}
footer {
  background-color: green;
  text-align: center;
  color: white;
  font-size: 1.4em;
  padding: 10px;
  margin-top: 10px;
}
