@font-face {
  font-family: "Century";
  src: url(Font/Century\ Gothic.ttf);
  font-weight: normal;
  font-style: normal;
}
:root {
  --fonte: "Century";
  --white-font: aliceblue;
  --gap: 3rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
html {
  font-size: 62.5%;
}
.capa {
  min-height: 100vh;
  background-image: url(Img/Vector.svg);
  background-color: rgb(0, 0, 0);
  background-position: center right;
  background-repeat: no-repeat;
  background-size: contain;
}
@media (max-width: 1200px) {
  .main-content {
    margin: 0 auto;
    max-width: 500px;
    padding: 30px;
  }
}
.main-content {
  margin: 0 auto;
  max-width: 1280px;
  padding: var(--gap);
}
.titulo {
  font-size: 4.8em;
  color: var(--white-font);
  margin-right: 270px;
  font-family: var(--fonte);
  font-style: italic;
}
.sub-titulo {
  font-size: 3.6em;
  color: var(--white-font);
  margin-right: 270px;
  font-family: var(--fonte);
}
.cabecalho {
  display: flex;
  align-items: center;
}
.headings-capa {
  padding-left: 104px;
}
.menu {
  padding: inherit;
  padding-left: 105px;
  margin-top: 280px ;
}
.menu ul li a {
  font-family: var(--fonte);
  color: var(--white-font);
  font-size: 3.6em;
  border: 2px solid var(--white-font);
  padding: 5px 15px;
  border-radius: 50px;
  transition: 0.4s;
  text-align: center;
}
.menu ul li a:hover {
  color: rgb(43, 43, 43);
  background-color: var(--white-font);
} 
.menu ul li {
line-height: 62px;
list-style: none;
}
